/******Classes spécifiques à l'affichage du backoffice et de la modale******/

/** Menu en-tête réservé aux collaborateurs connectés ***/
/* Bandeau noir */
.conteneur-bo-header {
	display: none;
	width: 100%;
	height: var(--hauteurMinDefaut);
	background-color: black;
	color: white;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

/* Ajuster l'espacement */
.actif + .conteneur-header {
	margin-top: 30px;
}

/** Comportement de la section portfolio lorsque le collaborateur est connecté **/

.cacherFiltres {
	display: none;
}

.bouton-modifier {
	display: none;
	flex-direction: row;
	align-items: center;
}

.cacherFiltres + .gallery {
	margin-top: var(--hauteurMinDefaut);
}

/** Déclencheurs d'affichage pour l'interaction avec JS **/
.actif {
	display: flex;
}