
/**************** Mise en forme du corpus de la page ****************/

/************ Bannière **********/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/********* Section portfolio ************/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filtres {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: var(--espaceDefaut);
}

.filtreActif {
	background-color: var(--contraste1);
	color: var(--fond);
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/********* Section contact ************/
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: var(--espaceDefaut);
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px var(--soutienOmbre);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px var(--soutienOmbre);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--contraste1);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}