/*************************** Mise en forme du pied de page *****************************/
footer {
	height: 60px;
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	object-fit: cover;
	display: flex;
	align-content: center;
}

footer nav {
	max-width: var(--largeurMaxOrdi);
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


