/***************** Mise en forme du menu en-tête de la page *************************/

header {
	max-width: var(--maxWidthDesktop);
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: var(--contraste2);
}