/***************** Menu en-tête de la page *************************/
.conteneur-header {
	max-width: var(--largeurMaxOrdi);
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: var(--espaceDefaut) auto;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 44px;
}

nav li {
	padding: 0px;
	font-size: 1.2em;
}

nav a {
	color: black;
	font-weight: 400;
}

nav img {
	display: block;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

nav a:hover {
	font-weight: 600;
}

.pageMenuActive {
	font-weight: 700;
}