
/*************************** Général *********************************/
:root {
	--fond: #FFFEF8;
	--contraste1: #1D6154;
	--contraste2: #B1663C;
	--soutienOmbre: rgba(0, 0, 0, 0.09);
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--contraste2);
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--contraste1);
}

button{
	font-family: 'Syne';
	font-size: 16px;
	color: var(--contraste1);
	padding: 10px 20px;
	background-color: transparent;
	border: 1px solid var(--contraste1);
	border-radius: 60px;
}
