
/*************************** Général *********************************/
:root {
	/** Variables, infos redondantes dans le projet **/
	/* Couleurs */
	--fond: #FFFEF8;
	--contraste1: #1D6154;
	--contraste2: #B1663C;
	--soutien1: #3D3D3D;
	--soutienOmbre: rgba(0, 0, 0, 0.09);
	/* Dimensions */
	--largeurMaxOrdi: 1140px;
	--espaceDefaut: 50px;
	--hauteurMinDefaut: 60px;
}

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: var(--fond);
}

main {
	max-width: var(--largeurMaxOrdi);
	margin: auto;
}

section {
	margin: var(--espaceDefaut) 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--contraste2);
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--contraste1);
}

a {
	text-decoration: none;
	cursor: pointer;
}
button{
	font-family: 'Syne';
	font-size: 16px;
	color: var(--contraste1);
	padding: 10px 20px;
	background-color: transparent;
	border: 1px solid var(--contraste1);
	border-radius: 60px;
	cursor: pointer;
}
